<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MTV</title>
</head>
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 3rem">
  <h1 style="font-weight: 10; font-size: 50px">MI FAMILIA</h1>

    <p>Mi {{familiar1.parentesco}} se llama {{familiar1.nombre}} {{familiar1.apellido}}. Su fecha de nacimiento es: {{familiar1.cumpleanios}}, y su altura es de {{familiar1.altura}} metros.</p>

    <br>

    <p>Mi {{familiar2.parentesco}} se llama {{familiar2.nombre}} {{familiar2.apellido}}. Su fecha de nacimiento es: {{familiar2.cumpleanios}}, y su altura es de {{familiar2.altura}} metros.</p>

    <br>

    <p>Mi {{familiar3.parentesco}} se llama {{familiar3.nombre}} {{familiar3.apellido}}. Su fecha de nacimiento es: {{familiar3.cumpleanios}}, y su altura es de {{familiar3.altura}} metros.</p>
    
</body>
</html>